@{
    ViewData["Title"] = "Email Change Confirmation";
}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="card shadow-sm">
                <div class="card-body p-4">
                    <h4 class="card-title mb-3">Email Change Requested</h4>
                    <p class="mb-4">
                        We've sent a confirmation link to your new email address. Please check your inbox to confirm the change.<br>
                        If you don't see the email, check your spam or junk folder.
                    </p>
                    <a href="/" class="btn btn-primary">Return to Home</a>
                </div>
            </div>
        </div>
    </div>
</div>
